
.parrafonegro{
	width: 100%;
	margin: 0 auto;
	background-color: black;
	padding-top: 1px;
	padding-bottom: 1px;
	padding-right: 1px;
	padding-left: 1px;

}
p{
	color:white;
	font-size: 40px
 }
span{
	color: black;
	background-color: white;

}

h1{
	font-size: 50px;
	margin: 1 auto;
}