:root {
    /*
     * Colores Básicos https://www.htmlcsscolor.com/hex/669999
     ********************************************/
    --shade-cadet-blue-1: #669999;
    --shade-cadet-blue-2: #527A7A;
    --shade-cadet-blue-3: #426262;
    --shade-cadet-blue-4: #354E4E;
    --shade-cadet-blue-5: #2A3E3E;
    --shade-cadet-blue-6: #223232;
    --shade-cadet-blue-7: #1B2828;
    --shade-cadet-blue-8: #162020;

    --tint-cadet-blue-1: #669999;
    --tint-cadet-blue-2: #85ADAD;
    --tint-cadet-blue-3: #9DBDBD;
    --tint-cadet-blue-4: #B1CACA;
    --tint-cadet-blue-5: #C1D5D5;
    --tint-cadet-blue-6: #CDDDDD;
    --tint-cadet-blue-7: #D7E4E4;
    --tint-cadet-blue-8: #DFE9E9;

    --cCadet-Blue: #669999;

    /*
     * Colores Básicos
     ********************************************/
    --background-color: var(--shade-cadet-blue-1, #669999);
    
    /*
     * GitHub Statics
     ********************************************/
    --bgc-github-section: var(--tint-cadet-blue-5, #C1D5D5);
    --bgc-github-periodo: var(--tint-cadet-blue-1, #669999);
    --bgc-github-panel: var(--tint-cadet-blue-3, #9DBDBD);
    /*
     * Form
     ********************************************/
    --bgc-form: var(--shade-cadet-blue-5, #2A3E3E);
    --color-form: var(--tint-cadet-blue-5, #C1D5D5);

}

body {
    /*
     * Colocamos de fondo una imagen que reescalará dependiendo del dispositivo
     */
    background-image: url('https://picsum.photos/g/1600/1200?gravity');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #669999;
}

#hero {
    height: 100vh !important;
}

#sec-body {
    background-color: #fff;
}

#phraseday p {
    font-size: 14px;
    text-align: center;
}

#statistic-github {
    background-color: var(--bgc-github-section, #669999);
}

#periodos {
    background-color: var(--bgc-github-periodo, #669999);
}

#contacto {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    border-top: 1px solid #3f87a6;
    border-bottom: 1px solid #3f87a6;
}

.result-card {
    background-color: var(--bgc-github-panel, #9DBDBD);
}

/*
* General Class
*/
.hide {
    display: none !important;
}

/* Larger than mobile */
@media (min-width: 400px) {
    body {
        background-image: url('https://picsum.photos/g/400?gravity');
    }
}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {
    body {
        background-image: url('https://picsum.photos/g/550?gravity');
    }
}

/* Larger than tablet */
@media (min-width: 750px) {
    body {
        background-image: url('https://picsum.photos/g/750?gravity');
    }

    #phraseday p {
        font-size: 2vw;
    }
}

/* Larger than desktop */
@media (min-width: 1000px) {
    body {
        background-image: url('https://picsum.photos/g/1000?gravity');
    }
    
    #phraseday p {
        font-size: 1.5vw;
    }
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
    body {
        background-image: url('https://picsum.photos/g/1200?gravity');
    }

    #phraseday p {
        font-size: 1.25vw;
    }
}