body {
    /*
     * Colocamos de fondo una imagen que reescalará dependiendo del dispositivo
     */
    background-image: url('https://picsum.photos/g/1600/1200?gravity');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #669999;
}

#hero {
    height: 100vh !important;
}

#contacto {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    border-top: 1px solid #3f87a6;
    border-bottom: 1px solid #3f87a6;
}

#footer {
    background: #999;
}

#tecnologia {
    padding-top: 1rem;
    padding-left: .5rem;
    padding-right: .5rem;
}

#tecnologia > div {
    padding-left: .5rem;
    padding-right: .5rem;
}

#copyright {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-bottom: 0;
}

/* Larger than mobile */
@media (min-width: 400px) {
    body {
        background-image: url('https://picsum.photos/g/400?gravity');
    }
}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {
    body {
        background-image: url('https://picsum.photos/g/550?gravity');
    }
}

/* Larger than tablet */
@media (min-width: 750px) {
    body {
        background-image: url('https://picsum.photos/g/750?gravity');
    }
}

/* Larger than desktop */
@media (min-width: 1000px) {
    body {
        background-image: url('https://picsum.photos/g/1000?gravity');
    }
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
    body {
        background-image: url('https://picsum.photos/g/1200?gravity');
    }
}